body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #FC5C7D 0%, #6A82FB 100%);
}

button {
	cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
